<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New-App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <h1>Welcome {{title}}</h1>
    <h2>{{names.name | uppercase}} Details</h2>
    <span>id: </span>{{names.id}}
    <div>
  <label for='name'>name: </label>
  <input id='name' [(ngModel)]="names.name" placeholder="name">
      <input type="text" placeholder="meeting number">
      <input type="text" placeholder="meeting password">
      <input type="text" placeholder="enter name">
      <button type="submit" name="join" (click)="meetingJoin()">Join</button>
  </div>
  </div>
</ion-content>
